/*----- Medias Queries -----*/

    /*-- 480px --*/

@media (min-width: 320px) and (max-width: 767px) {
  .visible{
    display: none !important;
    visibility: hidden !important;
}

.hidden{
    display: block !important;
    visibility: visible !important;
}

  header > nav > .navbar {
      display: none;
  }

  .nav-pages{
    padding: 0;
    height: 10vh;
  }

  #sidenav {
      display: block;
      max-width: 100%;
      position: fixed;
      top: 0;
      left: 0;
  }

  .text-admin .logo-admin{
    margin: 100px auto 0 auto !important;
  }

  .searchPartner{
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;
  }
  .table{
    border: 0;
  }
  .table thead{
    display: none;
  }
  .table tr{
    margin-bottom: 50px;
    display: block;
  }
  .table th, .table td{
    font-size: 14px !important;
  }
  .table td{
    display: block;
    text-align: right !important;
  }
  .table td:last-child {
    border-bottom: 0px;
  }
  .table td::before{
    content: attr(data-label);
    font-weight: bold;
    float: left;
  }
  .text-admin{
    margin: 60px auto !important;
  }
  .text-admin h2{
    font-size: 30px !important;
  }
  .checks-asistencia{
    width: 70% !important;
  }
  .items-form{
    gap: 2px !important;
  }
  .checks-asistencia{
    width: 100% !important;
  }
  #contact form{
    width: 90% !important;
  }
  footer section{
    flex-direction: column-reverse !important;
    gap: 30px;
    margin-bottom: 10px;
  }
  .separator{
    width: 95%;
  }
}

  /*-- 768px --*/

@media (min-width: 768px) and (max-width: 987px) {
  .visible{
    display: none !important;
    visibility: hidden !important;
}

.hidden{
    display: block !important;
    visibility: visible !important;
}

  header > nav > .navbar {
    display: none;
  }

  .nav-pages{
    padding: 0;
    height: 10vh;
  }
  
  
  #sidenav {
      display: block;
      max-width: 100%;
      position: fixed;
      top: 0;
      left: 0;
  }

  .table{
    border: 0;
  }
  .table thead{
    display: none;
  }
  .table tr{
    margin-bottom: 80px !important;
    display: block;
  }
  .table th, .table td{
    font-size: 22px !important;
  }
  .table td{
    display: block;
    text-align: right !important;
  }
  .table td:last-child {
    border-bottom: 0px;
  }
  .table td::before{
    content: attr(data-label);
    font-weight: bold;
    float: left;
  }

  .searchPartner{
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;
  }

  .checks-asistencia{
    width: 100% !important;
  }

  #contact form{
    width: 90% !important;
  }
  footer section{
    flex-direction: column-reverse !important;
    gap: 30px;
    margin-bottom: 10px;
  }
  .separator{
    width: 95%;
  }
}
      
    /*-- 1279px --*/

@media (min-width: 988px) and (max-width: 1279px) {
    .navbar {
        display: block;
        width: 98%;
    }
    #sidenav{
        display: none;
    }

}

        /*-- 1280+px --*/

@media (min-width: 1280px) and (max-width: 2500px){
    .navbar {
        display: block;
        width: 98%;
    }
    #sidenav {
        display: none;
    }

}